@CHARSET "ISO-8859-1";

.MANAGER {
	background-color: #FC0 !important;
}

.DEVELOPER {
	background-color: #CFC !important;
}

.QA {
	background-color: #0CF !important;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
.navbar-collapse {
	max-height: 100%;
}

@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-right .sidebar-offcanvas {
		right: -60%;
		margin-right: 0px;
		background-color: #f3f3f3;
	}
	.row-offcanvas-left .sidebar-offcanvas {
		left: -50%;
	}
	.row-offcanvas-right.active {
		right: 60%;
	}
	.row-offcanvas-left.active {
		left: 50%;
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 60%;
		height: 100%;
		display: none;
	}
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}