@CHARSET "ISO-8859-1";
.MANAGER{
	background-color: #FC0 !important;
}
.DEVELOPER{
	background-color: #CFC !important;
}
.QA{
	background-color: #0CF !important;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
.navbar-collapse {
  max-height: 100%;
}
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -60%;
  
    margin-right: 0px;
    background-color: #f3f3f3;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%; 
  }
  .row-offcanvas-right.active {
    right: 60%;  
  }
  .row-offcanvas-left.active {
    left: 50%;  
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%;  
    height: 100%;
    display: none;
  
  }
}