<div class="row">
	<div ng-repeat="emp in employee">
		<employee-panel person="emp"></employee-panel>
		
	</div>
				

</div>
	
	<!-- New Employee stuff -->
	<div class="panel panel-default col-md-3">
		<div class="panel-heading">New Employee</div>
		<div class="panel-body">
			<input type="text" class="form-control" ng-modal="newName" placeholder="Name"><br>
			<input type="text" class="form-control" ng-modal="newRole" placeholder="Role"><br>
			
			<button type="button" class="btn btn-default" ng-click="addEmp(newName, newRole)">Add</button>
			

			<!-- /input-group -->

		</div>
	</div>
</div>
